body {
    padding: 0px;
    margin: 0px;
    width: 500px;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:cornsilk;
}

li {
  float: left;
}

li a {
  display: block;
  color:floralwhite;
  text-align: center;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:ghostwhite;
}
