body {
    padding: 0px;
    margin: 0px;
    width: 1000px;
    text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color:ghostwhite;
}

img {
  max-width:25%;
  height:auto;
}

li {
  float: left;
}

li a {
  display:inline-block;
  color:plum;
  padding: 25px;
  text-align: left;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:ghostwhite;
}
