<html>
    <head>
        <title>Eventual Twitter Clone</title>
        <link rel="stylesheet" href="/static/style.css"> 
    </head>
    <body>
        <img src=/static/twitter-violet.png>
        <h1>Mini Twitter</h1>
        <ul>
            <li><a href='/'>home</a></li>
            {% if is_logged_in %}
            <li><a href='/logout'>logout</a></li>
            <li><a href='/message'>create message</a></li>
            {% else %}
            <li><a href='/login'>login</a></li>
            <li><a href='/user'>create user</a></li>
            {% endif %}
        </ul>
        <main>
            {% block title %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>